@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header-section {
    background-color: #ce9d08;
    color: black;
    padding: 30px;
}

.header-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.801);
}
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 84.5vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #896905;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
   
    min-height: 84.5vh;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}




.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 0.9rem;
    margin-right: .75rem;
}
.sidebar-link2{
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    
}
.sidebar-link2 i {
    font-size: 0.9rem;
    margin-right: .75rem;
}

a.sidebar-link2:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 10px solid #ce9d08;
}
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 10px solid #ce9d08;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #896905;
    padding: 0;
    min-width: 11rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
/*body*/

/*-----------------------------*/
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
width: 50px;
height: 50px;
cursor: pointer;
border-radius: 50%;
border: 2px solid black;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 5rem;
    margin-bottom: 1rem;
}
.header--title{
color: black;
}

/*----------------------------------*/
.select-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    height: 100vh;
}

/*---------------------------------*/
#select-container1 {
    margin-bottom: 20px;
    text-align: center;
}

#select-container1 label {
    font-weight: bold;
    margin-right: 10px;
}

#select-container1 select {
    width: 300px;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#select-container1 button {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#select-container1 button:hover {
    background-color: #0056b3;
}
/*box*/
.box {
    border: 2px solid #000;
    height: 200px;
    width: 10%;
    background: white;
    position: absolute;
    top: 20%;
    left: 25%;
    margin: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.box0, .box1, .box2, .box3, .box4, .box5 {
    
    border: 2px solid #000;
    height: 200px;
    width: 10%;
    background: white;
    position: absolute;
    margin: 5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
}

.box0 {
    top: 20%;
    left: 45%;
}

.box1 {
    height: 60px;
    width: 50%;
    top: 70%;
    left: 25%;
}

.box2 {
    top: 20%;
    left: 65%;
}

.box3 {
    top: 45%;
    left: 25%;
}

.box4 {
    top: 45%;
    left: 45%;
}

.box5 {
    top: 45%;
    left: 65%;
}
/*edit*/
#edit-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: white;
    border: 1px solid #ced4da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#edit-container label, #edit-container select, #edit-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#edit-container select {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#edit-container button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#edit-container button:hover {
    background-color: #218838;
}
/*overlay*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}