*{
    margin: 0;
    padding: 0;
}

/* header */
.header-section {
    background-color: #ce9d08;
    color: black;
    padding: 100px;
}
.header-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
/* Services section styling */
.services-section {
    padding: 180px 0;
}
.service-item {
    width: 100%;
    text-align: center;
    background-color:#896905;
    padding: 40px;
    margin-bottom: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.364);
}
.service-item:hover{
    background: #ce9d08;
    color: white;
}
.service{
    text-decoration: none;
    color: black;
    
}




/* Footer styling */
footer {
    background-color: #ce9d08;
    color: black;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Responsive styling */
@media (max-width: 768px) {
    .header-section h1 {
        font-size: 2em;
    }

    .header-section p {
        font-size: 1em;
    }

    
    .services-section {
        padding: 50px 0;
    }
}