@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.header-section {
    background-color: #ce9d08;
    color: black;
    padding: 30px;
}

.header-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 3px 0px 3px rgba(0, 0, 0, 0.801);
}
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 84.5vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #896905;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
   
    min-height: 84.5vh;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}




.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 0.9rem;
    margin-right: .75rem;
}
.sidebar-link2{
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    
}
.sidebar-link2 i {
    font-size: 0.9rem;
    margin-right: .75rem;
}

a.sidebar-link2:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 10px solid #ce9d08;
}
a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 10px solid #ce9d08;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #896905;
    padding: 0;
    min-width: 11rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
/*body*/

/*-----------------------------*/
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header--wrapper img{
width: 50px;
height: 50px;
cursor: pointer;
border-radius: 50%;
border: 2px solid black;
}
.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 5rem;
    margin-bottom: 1rem;
}
.header--title{
color: black;
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1;
}
.search-box{
    background: rgba(237, 237, 237);
    border-radius: 15px;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    margin-right: 5px;
}
.search-box input{
    background: transparent;
    padding: 10px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
/*----------------------------------*/
.card-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main-title{
    color: black;
    padding-bottom: 10px;
    font-size: 15px;
}
.payment-card{
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment-card:hover{
    transform: translateY(-5px);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amount{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 12px;
    font-weight: 200;
}
.amount-value{
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}
.icon{
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
    background: red;
   
   position: relative;
}
.card-detail{
    font-size: 18px;
    color: #777777;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green
{
    background: rgb(235, 254, 235);
}
.dark-red
{
  background: red;
}
.dark-purple
{
  background: purple;
}
.dark-green
{
    background: green;
}

/*---------------------------------*/
.tabular-wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}
.table-container{
width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: #ce9d08;
    color: #fff;
}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: #f2f2f2;
}
td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even){
background: #fff;
}
tfoot{
    background: #ce9d08;
    color: #fff;
}
tfoot td{
padding: 15px;
}
.table-container i {
    background: none;
    cursor: pointer;
    width: 20px;
    height: 20px;

}
.table-container .red{
    color: red;
   
}
.table-container .green{
    color: green;
}
/*-----------------------------------*/
#form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  label {
    font-weight: bold;
    flex-basis: 30%;
  }
  input[type="text"],
  input[type="date"], select {
    flex-basis: 65%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  input[type="submit"] {
    flex-basis: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }